**/gen/
**/edmx/
*.db
*.sqlite
schema*.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar

*.log
!accounts.login.js
!accounts.logout.js
!accounts.auth.fido.login.js
!socialize.logout.js
gc_history*
hs_err*
*.tgz
*.iml
*.key
*.cnf
*.csr

.vscode
.idea
.reloadtrigger

**/dist/*
.env
.env.production
.env.development

application-secret-*.yaml