<!-- Alert Modal  -->
<div class="modal_wrap" id="alertModal">
    <div class="modal modal_alert">
        <div class="modal_header">
            <button type="button" class="modal_close_btn" onclick="ModalAlertClose('#alertModal')"><span class="blind">Close</span></button>
        </div>
        <div class="modal_content">
            <p class="alert_ty" id="alertModalTitle">Alert</p>
            <ul class="list_ty1 mar1" id="alertModalText">
            </ul>
        </div>
        <div class="modal_footer wrap_btn1">
            <button id="alertModalCancelBtn" type="button" class="btn_m btn_white" onclick="ModalAlertClose('#alertModal')">Cancel</button>
            <button id="alertModalConfirmBtn" type="button" class="btn_m">Confirm</button>
        </div>
    </div>
    <div class="dimmer" aria-hidden="true"></div>
</div>
<!-- // Alert Modal -->