<!-- Error Modal -->
<div class="modal_wrap" id="successModal">
    <div class="modal modal_alert">
        <div class="modal_header">
            <button type="button" class="modal_close_btn" onclick="ModalAlertClose('#successModal')"><span class="blind">Close</span></button>
        </div>
        <div class="modal_content">
            <p id="successModalTitle" class="alert_resend">Success</p>
            <ul class="list_ty1" id="successModalText">
            </ul>
        </div>
        <div class="modal_footer wrap_btn1">
            <button id="successModalCancelBtn" type="button" class="btn_m btn_white" onclick="ModalAlertClose('#successModal')">Close</button>
            <button id="successModalConfirmBtn" type="button" class="btn_m">Confirm</button>
        </div>
    </div>
    <div class="dimmer" aria-hidden="true"></div>
</div>
<!-- // Error Modal -->