<!-- Modal Dimmed -->
<div class="modal_wrap" id="userConsentPreviewModal">
    <div class="modal modal_dimmed">
        <div class="modal_header">
            <h4 id="userConsentPreviewTitle">Common Terms</h4>
            <button type="button" class="modal_close_btn" onclick="ModalOpenClose('#userConsentPreviewModal')"><span class="blind">Close</span></button>
        </div>
        <div class="modal_content">
            <dl class="list_ty2">
                <dt id="userConsentPreviewVersion">Version 4 | 2023-12-21</dt>
                <dd id="userConsentPreviewContent" class="temrs_wrap ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred">
                    <div class="temrs_wrap">
                        <h1>B2B Account Integration Terms and Conditions</h1>
                        <dl>
                            <dt>1. PURPOSE</dt>
                            <dd>
                                The purpose of these Terms and Conditions is to prescribe the rights, obligations and responsibilities of Samsung and its users in signing up and using Internet business services(here in after referred to as "services") provided by Samsung Electronics Co., Ltd. (including affiliates, hereinafter referred to as "Samsung","we","us","our") as a B2B integrated account.
                            </dd>
                            <dt>2. ACCEPTING OUR TERMS</dt>
                            <dd>
                                <ol>
                                    <li>
                                        (1) Creating a Samsung B2B integrated account, downloading the service, or using the service is the same as you agreed to these Terms and Conditions, so read the Terms and Conditions carefully before using the service. If you agree to these Terms, Samsung considers you to be,
                                        <ul>
                                            <li>- You are not a minor in your country of residence,</li>
                                            <li>- A person who is legally authorized by a parent or legal representative and is not prohibited from using the service  by the applicable law applied to the country of residence</li>
                                            <li>- A corporation or private business owners certified by providing business information and personal information</li>
                                        </ul>                        
                                    </li>
                                    <li>(2) Samsung may amend these Terms and Conditions to the extent that it does not violate relevant, domestic IT laws.</li>
                                    <li>(3) If there is anything that can have a significant impact on the user, we will notify you with a grace period of at least 30 days and inform you in appropriate ways such as e-mail registered in the Samsung B2B integrated account or through individual services. (In this case, the contents before and after the revision are clearly compared and displayed to make it easier for users to understand.</li>
                                    <li>(4) It is understood that the user has agreed to the revised Terms and Conditions if the user does not explicitly express his/her intention to refuse, even though it has clearly announced and gives individual notice that the user is considered to have expressed his/her intention within a 30-day period.</li>
                                    <li>(5) If the user does not agree to the application of the revised Terms and Conditions, the Company cannot apply the contents of the revised Terms and Conditions, in which case the user may terminate the use contract. However, if there are special circumstances where the existing Terms and Conditions cannot be applied, we can terminate the contract.</li>
                                </ol>
                            </dd>
                            <dt>3. PROVISION OF SERVICES</dt>
                            <dd>
                                <ol>
                                    <li>(1) The service is provided by Samsung and in some cases by Samsung's subsidiaries and worldwide subsidiaries on behalf of Samsung. You acknowledge and agree that each of your Samsung affiliates is eligible to provide the service in accordance with the Terms and Conditions.</li>
                                    <li>(2) You acknowledge and agree that Samsung may discontinue the service (or part of the service).</li>
                                    <li>(3) The user acknowledges and agrees that Samsung may disable service access to your account for commercially reasonable reasons, and in this case, you will not be able to access the service, account details and all related files or other contents.</li>
                                    <li>(4) Users may stop using the service at any time without prior notice to Samsung.</li>
                                    <li>(5) Samsung should have a security system to protect users' personal information so that users can use the service safely.</li>
                                </ol>
                            </dd>
                            <dt>4. USER's OBLIGATION</dt>
                            <dd>
                                <ol>
                                    <li>(1) You agree to use the services as permitted by (1) the Terms and Conditions of Use and (2) applicable laws, regulations or generally accepted practices or guidelines in the relevant jurisdiction.</li>
                                    <li>(2) You should not access (or attempt) to any service other than through the interface of the services available to Samsung.</li>
                                    <li>(3) You must comply with all available guidelines regarding the service.</li>
                                    <li>(4) Updates and downloads can be automatically installed for the use the service. These updates can be in various forms, including bug fixes, improved features, new software modules, and completely new versions. You agree as part of the service.</li>
                                    <li>(5) Do not engage in activities that cause interference or failure in services or infrastructures</li>
                                    <li>(6) Users must not reprocess, replicate, sell, trade, or resell services (or part of services).</li>
                                    <li>(7) Partner users who have administrative privileges should always keep up-to-date with the current job information of those regular users. Users of unqualified partners should not use all or part of service without permission.</li>
                                    <li>(8) To the extent permitted by law, you are solely responsible for any breach of obligations under the Terms and Conditions and the consequences of such breach, including any loss or damage that may occur to Samsung or any third party. Samsung shall not be liable to you or to any third party for such breach.</li>
                                </ol>
                            </dd>
                            <dt>5. JOIN MEMBERSHIP</dt>
                            <dd>
                                <ol>
                                    <li>(1) Users apply for membership by expressing their consent to these Terms and Conditions after filling out their personal information and company information according to the registration form.</li>
                                    <li>
                                        (2) Among the users who have applied for membership as referred to in paragraph (1), unless they fall under any of the following subparagraphs, they will be approved after screening for membership.
                                        <ol>
                                            <li>
                                                ① Where an applicant for membership has previously lost his/her membership pursuant to Article 3(3). This shall not apply where three years have passed since the loss of membership and consent to re-enrollment is  obtained through the B2B integrated account
                                            </li>
                                            <li>② Where all applicants for membership shall obtain identity verification, but not so</li>
                                            <li>③ Where there is a falsehood, omission of entry, or error in the details of registration</li>
                                            <li>④ Where it is deemed that registration as a member significantly interferes with the operation of the B2B integrated account</li>
                                        </ol>
                                    </li>
                                    <li>(3) If there is a change in the registration information under Article 8 (2), the member shall immediately proceed with the change through My Page and other methods.</li>
                                </ol>
                            </dd>
                            <dt>6. WITHDRAWL/DISQUALIFICATION</dt>
                            <dd>
                                <ol>
                                    <li>(1) If you don't want to use the service anymore, you can terminate it at any time by withdrawing your B2B integrated account or deleting consents to individual services.</li>
                                    <li>
                                        (2) If a member falls under any of the following reasons, his/her membership may be restricted or suspended.
                                        <ol>
                                            <li>① Where false information is registered at the time of application for membership</li>
                                            <li>② In case of violation of this Terms and Conditions or guidance provided to individual services, etc.</li>
                                            <li>③ Where the fact of suspension or closure of business is confirmed after membership is registered</li>
                                            <li>④ Where User threatens the order of electronic commerce, such as theft of another person's account or information</li>
                                            <li>⑤ Where User is found not to be employed at a company where he/she was working at the time of membership registration</li>
                                        </ol>
                                    </li>
                                    <li>(3) Even after the B2B integrated account restricts or suspends membership, the B2B integrated account may lose its membership if it is not corrected within that period even though it has been requested for correction within a certain period due to reasons falling under each subparagraph of the preceding paragraph.</li>
                                </ol>
                            </dd>
                            <dt>7. NOTICE</dt>
                            <dd>
                                <ol>
                                    <li>(1) If the service notifies the member, it can be made to the specified e-mail address by pre-contract with the member B2B integrated account.</li>
                                    <li>(2) If a service is notified to an unspecified members, it can be substituted for individual notifications by posting it on a pop-up or individual service bulletin board for at least one week. However, individual notifications are given for matters that have a significant impact on the member's own transaction.</li>
                                </ol>
                            </dd>
                            <dt>8. REGISTRATION DATA</dt>
                            <dd>
                                <ol>
                                    <li>(1) You may need to provide information about yourself and Security-pledge in order to access the service with your B2B integrated account or in the process of using the service.</li>
                                    <li>(2) You agree to ensure that information required in the course of using the service is up-to-date and complete. You also agree to maintain and update it to keep it accurate, up-to-date and complete. Samsung may terminate your rights for any or all of the services if the information you provide is false, inaccurate, or incomplete.</li>
                                    <li>(3) The user agrees to use the user's registration data in accordance with Samsung's privacy policy. Samsung's privacy policy is a way of defining Samsung's data protection practices and refers to how Samsung processes data and protects users' personal information when using the service.</li>
                                    <li>(4) With the user's consent, Samsung can release the user's registration data to a third party. This will ensure that we will comply with data protection and third parties do not use data about you for purposes other than those specified in the Terms of Use.</li>
                                </ol>
                            </dd>
                            <dt>9. PRIVACY POLICY</dt>
                            <dd>
                                <ol>
                                    <li>(1) When collecting information from users, it is possible to collect, process, store, and manage the minimum information for service provision. Please refer to Privacy Policy for details of collection and use of personal information.</li>
                                    <li>(2) You agree to ensure that information required in the course of using the service is up-to-date and complete. You also agree to maintain and update it to keep it accurate, up-to-date and complete. Samsung may terminate your rights for any or all of the services if the information you provide is false, inaccurate, or incomplete.</li>
                                    <li>
                                        (3) The provided personal information cannot be used for any purpose or provided to a third party without consent, and Samsung is responsible for all of this. Exceptions are made in the following cases.
                                        <ol>
                                            <li>① Where it is necessary for the  statistical preparation, academic research, or market research, and is provided in a form in which an individual cannot be identified</li>
                                            <li>② Where identification is required to prevent theft</li>
                                            <li>③ Where there is an inevitable reason necessary under the provisions of the Acts or the Acts</li>
                                        </ol>
                                    </li>
                                    <li>(4) If the user's consent is required under paragraphs (2) and (3), the matters prescribed in Article 22 (2) of the Act on Promotion of Information and Communications Network Utilization and Information Protection, such as the identity of the person in charge of personal information management (affiliated, name, phone number, and other contact information), the purpose of collecting and using information, and matters related to the provision of information to third parties (provider, purpose of provision, and contents of information to be provided), shall be specified or notified in advance, and the user may withdraw this consent at any time.</li>
                                    <li>(5) Users may request access to their personal information and correct errors at any time, and are obligated to take necessary measures without delay in the B2B integrated account system.</li>
                                    <li>(6) In order to protect personal information, the number of managers is limited and we are responsible for all users' damages caused by the loss, theft, leakage, or modulation of the user's personal information.</li>
                                </ol>
                            </dd>
                            <dt>10. OBLIGATION OF ID, PW</dt>
                            <dd>
                                <ol>
                                    <li>(1) Members are responsible for managing IDs and passwords except in the case of Article 9.</li>
                                    <li>(2) Members should not allow third parties to use their IDs and passwords.</li>
                                    <li>(3) Members should not allow third parties to use their IDs and passwords. If the member is recognized that his ID and password is stolen or that a third party is using it, he or she must notify the customer center immediately and follow the instructions.</li>
                                </ol>
                            </dd>
                            <dt>11. GOVERNING LAW/DISPUTE RESOLUTION</dt>
                            <dd>
                                <ol>
                                    <li>(1) These Terms and Conditions apply to the laws of the Republic of Korea regardless of the provisions of private international law. If disputes, controversies, or differences of opinion arising while the user is using the services are not smoothly agreed upon, the non-exclusive jurisdiction of the court having jurisdiction over the user's residence will be applied to the matter.</li>
                                    <li>(2) Nevertheless, Samsung may request compulsory execution, preservation disposition, etc. from a local court, not from a court having jurisdiction over the user's residence.</li>
                                </ol>
                            </dd>
                            <dt>12. LANGUAGE</dt>
                            <dd>
                                <ol>
                                    <li>(1) We may provide a translation of these Terms and Conditions, but if there is a conflict between the translation and the contents of the Korean version, the Korean version shall take precedence.</li>
                                </ol>
                            </dd>
                        </dl>
                    </div>
                        
                </dd>
            </dl> 

        </div>
        <div class="modal_footer">
            <div class="wrap_btn2">
                <button type="button" class="btn_m" onclick="ModalOpenClose('#userConsentPreviewModal')">Confirm</button>
            </div> 
        </div>
    </div>
    <div class="dimmer" aria-hidden="true"></div>
</div>
<!-- // Modal Dimmed -->