<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Reset-Password</title>
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport">

    <link href="/_styles/_index.css" rel="stylesheet" />
    <link href="/_pages/login/login-page.css"
          rel="stylesheet" />

    <script th:inline="javascript"
            th:src="|https://cdns.gigya.com/js/gigya.js?apikey=${parentKeys.apiKey}|"></script>

    <script src='/_components/input/field-input-box.js'></script>
    <script src="/_components/spinner/loading-spinner.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/_apis/_instance/gigya-instance.js"></script>
    <script src="/_apis/_instance/samsung-instance.js"></script>

    <script type="module" src="/_apis/gigya/accounts.js"></script>
    <script type="module" src="/_apis/gigya/socialize.js"></script>
    <script src="/_apis/samsung/samsung.js"></script>
    <script src="/_apis/gigya/ERROR_CODES.js"></script>

    <script src="/_pages/login/components/add-login-form-event.js"></script>
    <script src="/_pages/login/components/show-login-page-response-messages.js"></script>

    <script th:inline="javascript">
      const samsungInstanceURL = [[${samsungInstanceURL}]];
      const gigyaInstanceURL = [[${gigyaInstanceURL}]];
      const GIGYA_API_KEY = [[${apiKey}]];
      const GIGYA_PARENT_KEYS = [[${parentKeys}]];
      const HOST_URL = [[${hostUrl}]];
      const CHANNEL = [[${channel}]];

      async function handleSubmitForm() {
        try {
          showLoadingSpinner();

          const password = document.querySelector('input[name="field-password"]').value;

          await accounts.resetPassword({newPassword: password});
        } catch (err) {
          console.error(err);
        } finally {
          hideLoadingSpinner();
        }
      }

      window.onload = async function () {
        samsungInstance.defaults.baseURL = samsungInstanceURL;
        gigyaInstance.defaults.baseURL = gigyaInstanceURL;
        const VALIDITY = {
          password: false,
        }

        const form = document.querySelector('.form');
        const submitButton = document.querySelector('#submit-button');

        addLoginFormEvent({
          form: form,
          submitButton: submitButton,
          validity: VALIDITY,
          enterKeyFunc: handleSubmitForm,
          inputFunc: () => {
            const passwordField = document.querySelector('input[name="field-password"]');
            const confirmPasswordField = document.querySelector('input[name="field-confirm-password"]');

            const password = passwordField.value;
            const confirmPassword = confirmPasswordField.value;

            if (password === '' && confirmPassword === '') {
              VALIDITY.password = false;
              return;
            }

            const doPasswordsMatch = password === confirmPassword;
            VALIDITY.password = doPasswordsMatch;

            if (!doPasswordsMatch) showLoginPageResponseMessages('field.NOT_SAME_PASSWORD');
            else hideLoginPageResponseMessage();
          }});
      }
    </script>

    <style>
      .main {
        align-items: center;
      }

      .title {
        font: var(--samsung-700-32);
        color: var(--color-black);
        margin-top: 200px;
      }

      .sub-title {
        font: var(--samsung-400-16);
        color: var(--color-gray-03);
        margin: 10px 0 48px 0;
      }

      .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        padding: 24px;
        margin: 0 auto;
        border: 1px solid var(--color-gray-04);
        border-radius: 8px;
      }

      @media screen and (max-width: 768px) {
        .form {
          border: none;
        }
      }
    </style>
  </head>
  <body>
    <th:block th:replace="_components/layout/header :: header"></th:block>

    <th:block th:replace="_components/layout/main :: main(~{::content})">
      <th:block th:fragment="content">
        <h2 class="title"
            th:utext="#{reset-password-page.title}">Reset Password</h2>
        <p class="sub-title"
           th:utext="#{reset-password-page.subTitle}">Enter a new password below to change your password</p>
        <form class="form">
          <th:block th:replace="_components/input/field-input-box :: field-input-box('password', #{reset-password-page.form.field.password}, 'field-password', _, 50, true, false, false, _, _, #{reset-password-page.form.field.password.placeholder})"></th:block>
          <th:block th:replace="_components/input/field-input-box :: field-input-box('password', #{reset-password-page.form.field.confirmPassword}, 'field-confirm-password', _, 50, true, false, false, _, _, #{reset-password-page.form.field.confirmPassword.placeholder})"></th:block>

          <th:block th:replace="_pages/login/components/login-page-response-messages :: login-page-response-messages"></th:block>

          <button id="submit-button"
                  class="button button-size--m button-theme--blue"
                  onclick="handleSubmitForm()"
                  th:utext="#{reset-password-page.form.submitButton}"
                  type='button'>Password Reset</button>
        </form>
      </th:block>
    </th:block>

    <th:block th:replace="_components/layout/footer :: footer"></th:block>
    <th:block th:replace="_components/spinner/loading-spinner :: loading-spinner"></th:block>
  </body>
</html>