<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
  <th:block th:fragment="channel-specific-fields">
    <h3>Channel-specific Information</h3>
    <ul class="form_list1">
      <li>						
        <div class="col_wrap1">
          <div>
            <p class="tit">Division</p>
            <input type="text" name="" id="" value="PartnerHub" placeholder="" class="input" disabled>
          </div>
          <div>
            <p class="tit">Referral</p>								
            <input type="text" name="" id="" value="PartnerHub" placeholder="" class="input" disabled>
          </div>
        </div>
      </li>
    </ul>
  </th:block>
</body>
</html>