<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="passwordReset">
    <h2>Password Reset</h2>
    <form id="passwordResetFields" method="POST" th:action="@{/myPage/changePasswordSubmit}" class="content_ty1">
        <dl class="form_list2">
            <dt class="requ">Current Password</dt>
            <dd>
                <div class="input_clear pass_word">
                    <input name="oldPwd" id="currentPassword" type="password" title="Curent Password" th:placeholder="#{myPage.passwordReset.placeholder.currentPassword}" class="input">
                    <button type="button" class="clear_btn"><span class="blind">Clear</span></button>
                    <i class="eye_hide"></i>
                    <p id="currentPasswordError"></p>
                </div>
            </dd>
            <dt class="requ">New Password</dt>
            <dd>
                <div class="input_clear pass_word">
                    <input name="newPwd" id="newPassword" type="password" title="New Password" th:placeholder="#{myPage.passwordReset.placeholder.newPassword}" class="input">
                    <button type="button" class="clear_btn"><span class="blind">Clear</span></button>
                    <i class="eye_hide"></i>
                </div>
            </dd>
            <dt class="requ">Confirm New Password</dt>
            <dd>
                <div class="input_clear pass_word">
                    <input id="newPasswordRetype" type="password" title="Confirm New Password" th:placeholder="#{myPage.passwordReset.placeholder.confirmNewPassword}" class="input">
                    <button type="button" class="clear_btn"><span class="blind">Clear</span></button>
                    <i class="eye_hide"></i>
                </div>
            </dd>
        </dl>

        <h4 class="tit_ty1">Password Policy</h4>
        <ul class="form_list3">
            <li>
                <span class="check">
                    <input type="checkbox" id="checkLengthAndAll" disabled>
                    <label for="sCheck11"><span>Your password must be more than 8 characters long.<br>And include 3 of the following</span></label>
                    <input type="hidden" id="checkLengthHidden">
                </span>
            </li>
            <li>
                <span class="check">
                    <input type="checkbox" id="uppercase" disabled>
                    <label for="sCheck12"><span>Uppercase letters</span></label>
                    <input type="hidden" id="checkUppercaseHidden">
                </span>
            </li>
            <li>
                <span class="check">
                    <input type="checkbox" id="lowercase" disabled>
                    <label for="sCheck13"><span>Lowercase letters</span></label>
                    <input type="hidden" id="checkLowercaseHidden">
                </span>
            </li>
            <li>
                <span class="check">
                    <input type="checkbox" id="number" disabled>
                    <label for="sCheck14"><span>Numbers</span></label>
                    <input type="hidden" id="checkNumberHidden">
                </span>
            </li>
            <li>
                <span class="check">
                    <input type="checkbox" id="symbol" disabled>
                    <label for="sCheck15"><span>Symbols</span></label>
                    <input type="hidden" id="checkSymbolHidden">
                </span>
            </li>
        </ul>

        <th:block th:if="${!socialProviders.contains('saml-samsung-ad')}">
            <div class="wrap_btn2 ">
                <button type="button" class="btn_l" onclick="clickedSaveBtn()">Save</button>
            </div>
        </th:block>

        <input type="hidden" name="email" id="email">

        <button id="submit" type="submit"></button>
    </form>
    <script th:inline="javascript">
        let count = 0;
        const wrongPasswordText = [[#{myPage.passwordReset.wrongPassword}]];
        const changeSuccessText = [[#{myPage.passwordReset.changeSuccessText}]];
        const submitBtn = document.getElementById('submit');

        const currentPassword = document.getElementById('currentPassword');
        const newPassword = document.getElementById('newPassword');
        const newPasswordRetype = document.getElementById('newPasswordRetype');

        const txtErrorClass = "txt_inp_error";

        const requiredFieldsValidation = {
            "currentPassword": false,
            "newPassword": false,
            "newPasswordRetype": false,
            "checkLengthAndAll": false,
        };

        const requiredFieldsErrorText = {
            "currentPassword": [[#{myPage.passwordReset.wrongPassword}]],
            "newPassword": [[#{myPage.passwordReset.newPassword}]],
            "newPasswordRetype": [[#{myPage.passwordReset.newPasswordRetype}]],
            "checkLengthAndAll": [[#{myPage.passwordReset.checkLengthAndAll}]],
        };

        // const phoneNumberRegex = /^[0-9-+\s]/;
        // const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]{2,3}$/i;
        // const characterRegex = /^[가-힣a-zA-Z]/;

        // 패스워드 체크 정규식
        const passwordRegExp = {
            'uppercase': /[A-Z]/,               // 영어 대문자
            'lowercase': /[a-z]/,               // 영어 소문자
            'number': /[0-9]/,                  // 숫자
            'symbol': /[^\w\sㄱ-힣()0-9 ]/,     // 특수문자
        };

        // 새 비밀번호 유효성 검사
        async function allFieldsCheck(password) {
            const passwordValidationPromise = new Promise(async (resolve, reject) => {
                const allInputFields = document.querySelector("#passwordResetFields").querySelectorAll('input');
                const checkboxFields = await Object.entries(allInputFields).filter(([key, component]) => {
                    return !!(component.type == 'checkbox');
                });
                resolve(checkboxFields);
            });

            Promise.all([passwordValidationPromise]).then(async (data) =>  {
                const checkboxFields = data[0];
                const checkLengthAndAll = checkboxFields[0];
                let i = 0;
                for await (const [key, component] of checkboxFields) {
                    const id = component.id;
                    const currentRegExp = passwordRegExp[id];
                    if (!!currentRegExp) {
                        const regexpResult = currentRegExp.test(password);
                        component.checked = regexpResult;
                        if (regexpResult) {
                            i++;
                        }
                    }
                }
                if (i >= 3 && password.length >= 8) {
                    checkLengthAndAll[1].checked = true;
                    requiredFieldsValidation["checkLengthAndAll"] = true;
                } else {
                    checkLengthAndAll[1].checked = false;
                    requiredFieldsValidation["checkLengthAndAll"] = false;
                }
            });
        }

        // 성공했을 시 callback function
        function changeSuccessFunction() {
            submitBtn.click();
        }

        // Save 버튼 onclick function
        async function clickedSaveBtn() {
            for await (const [key, value] of Object.entries(requiredFieldsValidation)) {
                if (!value) {
                    openModal('error', '', requiredFieldsErrorText[key], '', '', 'Error');
                    return;
                }
            }
            executeReAuthentication(changeSuccessText, changeSuccessFunction);
        }

        // input 필드 아래에 빨간색의 에러 메세지를 띄워줌
        function setErrorText(isSuccessed, id, currentCount) {
            const errorText = document.getElementById(`${id}Error`);

            if (currentCount == count) {
                if (!!isSuccessed) {
                    requiredFieldsValidation[id] = true;
                    errorText.classList.remove(txtErrorClass);
                    errorText.innerText = '';
                } else {
                    requiredFieldsValidation[id] = false;
                    errorText.classList.add(txtErrorClass);
                    errorText.innerText = wrongPasswordText;
                }
            }
        }

        // 현재 비밀번호 검증
        async function checkCurrentPassword(params, id, currentCount) {
            const jsonParams = JSON.parse(params);
            const paramsOldPassword = jsonParams.oldPwd;

            const passwordPromise = new Promise(async (resolve, reject) => {
                $.ajax({
                    url: "/myPage/checkOldPassword",
                    type: "POST",
                    data: params,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        resolve(data);
                    },
                    error: function(error){
                        // 통신 에러
                        console.error('error:', error);
                        reject(error);
                    }
                });
            });

            Promise.all([passwordPromise]).then((result) => {
                // show password invalid text
                if (!result && !(result[0])) {
                    requiredFieldsValidation[id] = false;
                    return;
                }
                
                const errorText = document.getElementById(`${id}Error`);
                const checkPassword = result[0];

                let isSuccessed = false;

                // password is empty
                if (!paramsOldPassword) {
                    isSuccessed = false;
                }
                // password is valid
                else if (!!checkPassword && checkPassword.errorCode == 0  && checkPassword.status == "ok") {
                    isSuccessed = true;
                } 
                // password is invalid
                else {
                    isSuccessed = false;
                }
                setErrorText(isSuccessed, id, currentCount);
            });
        }

        $(document).ready(() => {
            if ((typeof responseErrorCode) != 'string') {
                let modalType = '';
                let modalText = '';
                const setResponseTextPromise = new Promise((resolve, reject) => {
                    if (!!responseErrorCode) {
                        responseErrorCode = responseErrorCode.toString();

                        modalType = 'error';

                        if (!!responseErrorDetails) {
                            switch(responseErrorDetails) {
                                // 현재 패스워드 틀림
                                case "invalid loginID or password":
                                    modalText = requiredFieldsErrorText["currentPassword"];
                                    break;
                                case "'password' cannot be the same as 'newPassword'":
                                    modalText = requiredFieldsErrorText["newPassword"];
                                    break;
                                case "New Password was not validated - invalid password - min character groups of '3' not fulfilled.":
                                    modalText = requiredFieldsErrorText["checkLengthAndAll"];
                                    break;
                                default:
                                    modalText = responseErrorDetails;
                                    break;
                            }
                        } else {
                            modalText = serverErrorText;
                        }
                        
                    } else {
                        modalType = 'success';
                        modalText = changeSuccessText;
                    }
                    if (!!modalText) {
                        resolve();
                    }
                });
                
                Promise.all([setResponseTextPromise]).then(() => {
                    openModal(modalType, '', modalText);
                });
            }
        });

        $(document).on('input', '#currentPassword', async (event) => {
            const target = event.target;
            const value = target.value;
            const id = target.id;

            count += 1;
            if (!value) {
                count = 0;
            }
            const params = {
                // loginUserId: "jeonghwan053@yopmail.com",
                oldPwd: value
            };
            
            const paramsToString = JSON.stringify(params);
            const checkPassword = await checkCurrentPassword(paramsToString, id, count);
        });

        // New Password, Confirm New Password 에 키보드 입력마다 동작하는 이벤트리스너 적용
        $(document).on('input', '#newPassword, #newPasswordRetype', async (event) => {
            const target = event.target;
            const value = target.value;
            const id = target.id;

            if (id == 'newPassword') {
                if (!value || value == currentPassword.value) {
                    requiredFieldsValidation[id] = false;
                } else {
                    requiredFieldsValidation[id] = true;
                }

                await allFieldsCheck(value);
            }

            if (newPassword.value != newPasswordRetype.value) { 
                requiredFieldsValidation['newPasswordRetype'] = false;
            } else {
                requiredFieldsValidation['newPasswordRetype'] = true;
            }
        });
    </script>
</th:block>
</html>