<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="revisionNotice">
    <div th:unless="${channelHeader['myRole'] == 'General User' || channelHeader['myRole'] == 'Partner Admin'}">
        <link rel="stylesheet" href="/theme/assets/css/custom/ag_grid.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <h2>Revision Notice</h2>
        <div class="content_ty4">

            <div class="list_wrap1">
                <div>
                    <dl class="form_list6">
                        <dt>Start Date</dt>
                        <dd>
                            <input type="text" id="startDate" name="startDate" class="input wid_ty4" placeholder="MM/DD/YYYY">
                        </dd>
                        <dt>End Date</dt>
                        <dd>
                            <input type="text" id="endDate" name="endDate" class="input wid_ty4" placeholder="MM/DD/YYYY">
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="list_wrap1">
                <div>
                    <dl class="form_list6">
                        <dt>Status</dt>
                        <dd>
                            <select name="status" id="status" class="select wid_ty4">
                                <option value="all">ALL</option>
                                <option value="applied">Applied</option>
                                <option value="scheduled">Scheduled</option>
                                <option value="inprogress">Inprogress</option>
                                <option value="pending">Pending</option>
                            </select>
                        </dd>
                        <dt>Type</dt>
                        <dd>
                            <select name="type" id="type" class="select wid_ty4">
                                <option value="all">ALL</option>
                                <option value="Channel Updating">Channel Updating</option>
                                <option value="New Function">New Function</option>
                                <option value="Functional Improvement">Functional Improvement</option>
                                <option value="Error Improvement">Error Improvement</option>
                            </select>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="list_wrap1">
                <div>
                    <dl class="form_list6">
                        <dt>Channel</dt>
                        <dd>
                            <select name="channel" id="channel" class="select wid_ty4">
                                <option value="all">ALL</option>
                                <option th:text="${channelHeader['channelDisplayName']}"
                                        th:value="${channelHeader['channelName']}">
                                </option>
                            </select>
                        </dd>
                        <dt>Revision</dt>
                        <dd>
                            <input type="text" id="revisionsearch" name="revisionsearch" class="input wid_ty4" placeholder="Search for a title or content of a revision">
                        </dd>
                        <dt class="form_list6">
                            <button type="button" class="btn_s search wid_ty5" onclick="searchRevisionNotice()">Search</button>
                        </dt>
                    </dl>
                </div>
            </div>

            <div class="mar_ty1">
                <!-- 그리드 영역 -->
                <div id="revisionNoticeResult" class="pc_grid_wrap ag-theme-quartz custom_ag_grid no-background header-cell-center" style="height: auto;">
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script th:inline="javascript">
        const revisionNoticeResultElement = document.querySelector('#revisionNoticeResult');

        let oRevisionNoticeResultGrid = null;
        let aHeader, aResultsData, mobileDisplaySize = 4;
        let startIdx = 0, endIdx = mobileDisplaySize;
        let columnDefs = [];

        document.addEventListener('DOMContentLoaded', function() {
            initializeGrid();

            flatpickr("#startDate", {
                dateFormat: "Y-m-d",  // 날짜 형식을 YYYY-MM-DD로 설정
                allowInput: true,     // 사용자가 직접 입력 가능
                placeholder: "Select Start Date"
            });

            flatpickr("#endDate", {
                dateFormat: "Y-m-d",  // 날짜 형식을 YYYY-MM-DD로 설정
                allowInput: true,     // 사용자가 직접 입력 가능
                placeholder: "Select End Date"
            });
        });

        const initailGridOptions = {
            loading: true,
            columnDefs: [],
            rowData: [],
            rowSelection: 'single',
            pagination : true,
            paginationPageSize: 10, // 한 페이지에 표시할 행 수
            suppressHorizontalScroll: false, // 수평 스크롤을 억제
            domLayout: 'autoHeight', // 자동 높이 조정
            localeText: {
                noRowsToShow: ""  // 'No Rows To Show' 메시지를 'No Match Found'로 변경
            },
            overlayLoadingTemplate: `<img style="width: 100px;" src="/theme/assets/image/common/loading.svg" alt="loading">`
        }

        // clear grid data
        function initializeGrid(){
            startIdx = 0;
            endIdx = mobileDisplaySize;

            // for PC
            if(!!oRevisionNoticeResultGrid){
                oRevisionNoticeResultGrid.destroy();
            }

            oRevisionNoticeResultGrid = agGrid.createGrid(revisionNoticeResultElement, initailGridOptions);

            searchRevisionNotice();
        }

        function searchRevisionNotice() {
            let params = {
                startDate: document.getElementById('startDate').value || null,
                endDate: document.getElementById('endDate').value || null,
                status: document.getElementById('status').value,
                type: document.getElementById('type').value,
                channel: document.getElementById('channel').value,
                revisionsearch: document.getElementById('revisionsearch').value
            };

            $.ajax({
                url: "/myPage/revisionNoticeSearch",
                type: "POST",
                data: JSON.stringify(params),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(oResult) {
                    console.log(oResult);

                    //현재 admin이 접속한 채널 이름을 Channel 검색목록에서 가져왔는데 channelDisplayName과 channelName중 뭐가 적절할지 몰라서 일단 둘 다 가져옴
                    const currentChannelDisplayName = /*[[${channelHeader['channelDisplayName']}]]*/ "";
                    const currentChannelName = /*[[${channelHeader['channelName']}]]*/ "";

                    //필터를 통해 ALL이거나 channelName 또는 channelDisplayName와 일치할 때만 가져오도록
                    const filteredResults = oResult.result.filter(item => {
                        const itemChannel = item.channel || "";
                        return itemChannel === "ALL" || itemChannel.includes(currentChannelDisplayName) || itemChannel.includes(currentChannelName);
                    });

                    renderResultTable({ result: filteredResults });
                },
                error: function(e) {
                    console.log(e);
                    const message = "데이터 통신중 에러발생";
                }
            });
        }

        function createHiddenInput(name, value) {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = name;
            input.value = value;
            return input;
        }

        function onViewClick(data) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/myPage/revisionNoticeDetail';

            // 데이터를 form의 hidden 필드로 추가
            form.appendChild(createHiddenInput('id', data.id));

            document.body.appendChild(form);
            form.submit();  // 폼 제출로 서버에 POST 요청
        }

        function renderResultTable(oResult) {
            aResultsData = oResult ? oResult.result : [];

            const columnDefs = [
                {
                    headerName: 'Channel',
                    field: 'channel',
                    width: 100,
                    cellStyle: { textAlign: 'center' },
                    headerClass: 'ag-header-cell-center',
                    unSortIcon: true,
                    cellRenderer: function(params) {
                        const currentChannelDisplayName = /*[[${channelHeader['channelDisplayName']}]]*/ "";
                        // ALL이면 그대로 표시, 아니면 currentChannelDisplayName 표시
                        return params.value === "ALL" ? "ALL" : currentChannelDisplayName;
                    }
                },
                {
                    headerName: 'ID',
                    field: 'id',  // 숨김 필드로 id 추가 // revisions[0]에 해당
                    hide: true  // 필드를 숨김
                },
                {
                    headerName: 'Language Id',
                    field: 'language_id',  // 숨김 필드로 languaga_id 추가 // revisions[3]에 해당
                    hide: true  // 필드를 숨김
                },
                {
                    headerName: 'Type',
                    field: 'type',  // revisions[5]에 해당
                    width: 150,
                    cellStyle: { textAlign: 'center' },
                    headerClass: 'ag-header-cell-center',
                    unSortIcon: true,
                },
                {
                    headerName: 'Revision',
                    field: 'revision_title',  // revisions[1]에 해당
                    width: 350,
                    cellStyle: { textAlign: 'center' },
                    headerClass: 'ag-header-cell-center',
                    unSortIcon: true,
                },
                {
                    headerName: 'Revision Contents',
                    field: 'revision_contents',  // 숨김 필드로 revision_contents 추가 // revisions[2]에 해당
                    hide: true  // 필드를 숨김
                },
                {
                    headerName: 'Edit Date',
                    field: 'updated_at',  // 숨김 필드로 updated_at 추가 // revisions[8]에 해당
                    hide: true  // 필드를 숨김
                },
                {
                    headerName: 'Subsidiary',
                    field: 'subsidiary',  // 숨김 필드로 subsidiary 추가 // revisions[10]에 해당
                    hide: true  // 필드를 숨김
                },
                {
                    headerName: 'Status',
                    field: 'status',  // revisions[4]에 해당
                    width: 120,
                    cellStyle: { textAlign: 'center' },
                    headerClass: 'ag-header-cell-center'
                },
                {
                    headerName: 'Created Date',
                    field: 'created_at',  // revisions[7]에 해당
                    width: 150,
                    cellStyle: { textAlign: 'center' },
                    headerClass: 'ag-header-cell-center',
                    unSortIcon: true,
                },
                {
                    headerName: 'Apply Date',
                    field: 'apply_at',  // revisions[6]에 해당
                    width: 150,
                    cellStyle: { textAlign: 'center' },
                    headerClass: 'ag-header-cell-center',
                    unSortIcon: true,
                },
                {
                    headerName: 'Detail',
                    field: 'detail',
                    width: 100,
                    cellRenderer: function(params) {
                        const button = document.createElement('button');
                        button.className = 'btn_table_s blue';
                        button.textContent = 'View';  // 기본 텍스트를 View로 설정

                        // 버튼 클릭 시 특정 작업 실행
                        button.addEventListener('click', function() {
                            onViewClick(params.data);  // onViewClick 함수 실행
                        });

                        return button;
                    },
                    cellStyle: { textAlign: 'center' },
                    headerClass: 'ag-header-cell-center'
                }
            ];

            oRevisionNoticeResultGrid.setGridOption("columnDefs", columnDefs);
            oRevisionNoticeResultGrid.setGridOption("rowData", aResultsData);
            oRevisionNoticeResultGrid.sizeColumnsToFit();
            oRevisionNoticeResultGrid.setGridOption("loading", false);
        }
    </script>



</th:block>
</html>
