<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="revisionNoticeDetail">
  <h2>Revision Notice Detail</h2>

  <form method="POST" class="content_ty4" id="revisionNoticeDetailForm" >

    <h3>Revision Detail</h3>

    <ul class="form_list1">
      <li>
        <p class="tit">Revision Title</p>
        <input
                type="text"
                id="revisionTitle"
                name="revisionTitle"
                class="input"
                th:value="${revisionData[0].revision_title}"
                readonly>
      </li>
    </ul>

    <br><br>

    <div class="list_wrap1">
      <div>
        <dl class="form_list6">
          <dt>Created Date</dt>
          <dd>
            <input
                    type="text"
                    id="createdDate"
                    name="createdDate"
                    class="input wid_ty4"
                    th:value="${revisionData[0].created_at}"
                    readonly
            >
          </dd>
          <dt>Apply Date</dt>
          <dd>
            <input
                    type="text"
                    id="applyDate"
                    name="applyDate"
                    class="input wid_ty4"
                    th:value="${revisionData[0].apply_at}"
                    readonly
            >
          </dd>
          <dt th:if="${revisionData[0].updated_at != null}">Edit Date</dt>
          <dd th:if="${revisionData[0].updated_at != null}">
            <input
                    type="text"
                    id="editDate"
                    name="editDate"
                    class="input wid_ty4"
                    th:value="${revisionData[0].updated_at}"
                    readonly>
          </dd>
        </dl>
      </div>
    </div>

    <br>

    <div class="list_wrap1">
      <div>
        <dl class="form_list6">
          <dt>Contents Language</dt>
          <dd>
            <input
                    type="text"
                    id="language"
                    name="language"
                    class="input wid_ty4"
                    th:value="${revisionData[0].language_id}"
                    readonly
            >
          </dd>
          <dt>Status</dt>
          <dd>
            <input
                    type="text"
                    id="status"
                    name="status"
                    class="input wid_ty4"
                    th:value="${revisionData[0].status}"
                    readonly
            >
          </dd>
          <dt>Type</dt>
          <dd>
            <input
                    type="text"
                    id="type"
                    name="type"
                    class="input wid_ty4"
                    th:value="${revisionData[0].type}"
                    readonly
            >
          </dd>
        </dl>
      </div>
    </div>
    <br> <br>
    <ul class="form_list8">
      <li>
    <textarea
            id="revisionContents"
            name="revisionContents"
            class="input"
            rows="30"
            readonly
            th:text="${revisionData[0].revision_contents}"></textarea>
      </li>
    </ul>

    <br> <br>
    <ul class="form_list8">
      <li>
        <button type="button" class="btn_l back" onclick="backButton()">Back to Revision Notice</button>
    </ul>

  </form>

</th:block>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script th:inline="javascript">
  function backButton() {
    window.location.href = "/myPage/revisionNotice";
  }
</script>


</html>