<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="portalResetpwd">
	<div class="modal_wrap" id="loadingResetPwd">
		<div class="loading">
			<img style="background-color:transparent;" src="/theme/assets/image/common/loading.svg">
			<div class="txt">
				<strong>Hang tight!</strong>
				This may take a few more minutes to process your request.
			</div>
		</div>
		<div class="dimmer" aria-hidden="true"></div>
	</div>
	<div class="login_content">
		<div class="login_wrap">
			<div class="txt_login1">
				<h2 class="pageTitle">Reset Password</h2>
			</div>
			<div id="CDC_OnPage"></div>
		</div>
	</div>
	<script>
		ModalAlertOpen("#loadingResetPwd");
	</script>
</th:block>

</html>